.box_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card__image {
    max-width: 247px;
    height: auto;
}

.card__text a {
    text-decoration: none;
}