.box_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card__image {
    height: auto;
}

.card__text a {
    text-decoration: none;
}

@media only screen and (min-width: 576px) {
    .box_cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}