@import 'variables.css';
@import 'reset.css';
@import 'grid.css';
@import 'typografy.css';
@import 'main_header.css';
@import 'colors.css';
@import 'carousel.css';
@import 'card.css';
@import 'footer.css';


.about {
    display: flex;
}

.about__image {
    max-width: calc(100% - 16px);
    height: auto;
    margin: 8px;
}

.about .col-5 {
    align-items: normal;
}

@media only screen and (min-width: 576px) {
    .about__image {
        max-width: 88%;
    }

    .about .col-5 {
        align-items: flex-end;
    }
}